body{
    padding: 20px 60px 20px 60px ;
    background-color: aqua;
}

#corpo{
    background-color: white;
}

#title{
    margin: auto;
    text-align: center; 
    color: black;
}
hr{
    width: 780px;
}

#evento{
    height: 200px;
    display: flex;
    background-color: white; 
}

#sobre{
    width: 200px;
    height: 200px;
    margin-left: 20px;
}

#sobreevento{
    margin: 7px;
    margin-top: 5px;
    color: blueviolet;
    font-size: larger;
    font-weight: bold;
}

.primeiraclass{
    margin: 5px;
    font-weight: bolder;
    font-size: medium;
}
.segundaclasse{
    margin: 5px;
    font-size: medium;
}

#infomação{
height: 150px;
margin-top: 29px;
margin-left: 5px;
}
#imagem{
    width: 235px;
}

#sofia{
    background-image: url(Imagem/Sofia.jpg);
    width: 150px;
    height: 150px;
    background-size: cover;
    border-radius: 50%;
    margin-left: 380px;
}

p{
    margin: 5px;
    font-weight: bolder;
    font-size: medium;
}

#palestrante{
   text-align: center;
   padding: 0px;
   margin: 0px;
   font-size: medium;
   margin-top: -0px;
}

#nome{
   text-align: center;
   padding: 0px;
   margin: 0px;
   font-weight: bolder;
   font-size: medium;
}

#participantes{
    margin: 10px;
    height: 220px;
}

#linha{
    display: flex;
}

#infomaçõesdosparticipantes{
    margin: 20px;
    height: 280px;
    display: flex;
}

.caixa{
    width: 20%;
    display: inline-flex;
    margin-left: 50px;
    height: 25px;

}

#fullname{
    margin: 3px;
    margin-top: -3px;
    margin-left: 15px;
    width: 445px;
}

#name{
    width: 440px;
    margin-left: 
    ;
}
#data_nascimento{
    margin: 3px;
    margin-top: -3px;
    margin-left: 180px;
    width: 255px;
}




